<title>Sucesso!</title>

<h1 class="sucessMessage">Seu email foi cadastrado com sucesso!!</h1>
<p>Nos vemos próxima Sexta-Feira!</p>

<ul>
  <li>
    <a href="">
      <img class="img" src="/assets/instagramLogo.png" alt="" />
    </a>
  </li>

  <li>
    <a href="">
      <img class="img" src="/assets/youtube.png" alt="" />
    </a>
  </li>
</ul>